{% extends 'base.html' %}

  {% block body %}
  {% load static %}
  {% load crispy_forms_tags %}  
   
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 mt-1">
          <div class="card mt-1" style="width: 38rem;">
            <div class="card-body">
              <h2 class="card-title ml-2">Create Post</h2>
              <a class="btn btn-primary ml-2 mt-3" href="{% url 'posts:posts-create' %}" role="button">Create Post</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Discover People</h3>
            <p class='text-muted'>Follow others</p>
            <ul style="list-style: none">
            {% for user in users|slice:":6" %} <!-- List user to add limited to 3-->
              {% if not user in friends %}
                <li><h3><a href='{% url "accounts:profile-with-pk" user.pk %}'>{{ user }}</h3></a></li>
                <a href='{% url "accounts:add-friend" pk=user.pk %}'>
                <button type="button" class="btn btn-success mt-1 mb-1">Follow Friend</button>
              {% endif %}
            {% endfor %} 
            </ul>
            <!-- <h3>Friends</h3> -->
            <!-- <p class='text-muted'>Current friends</p>
            <ul style="list-style: none"> -->
            <!-- {% for friend in friends|slice:":3" %}-->  <!-- Remove button -->
            <!-- <div class="test-relationship"> 
              <a href='{% url "accounts:profile-with-pk" pk=friend.pk %}'><h3>{{ friend.username }}</h3></a>
              <a href='{% url "accounts:remove-friend" pk=friend.pk %}'>
              <button type="button" class="btn btn-secondary mt-1 mb-1">Remove Friend</button>
              </a>
            </div>
            {% endfor %} -->
            </ul>
          </div>
        </div>
      </div>
    </main>

    

    {% for post in posts %}  <!-- "object_list" instead of "posts", check "views" or  -->
      {% if post.author in friends or post.author == request.user %}             <!-- Only show posts authors i am friends with  -->
        {% if post.description|length > 150 %}

          <div class="container mt-4 mb-3">
            <div class="card" style="width: 38rem;">
              <div class="media" style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px"</div>
                <a href='{% url "accounts:profile-with-pk" post.author.id %}'><img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" width="70" height="70"></a>
                <div class="media-body ml-3">
                  <h5 class="card-title"><a href='{% url "posts:posts-details" pk=post.pk %}' style="color: black;"><b>{{ post.title }}</b></a></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><a href='{% url "accounts:profile-with-pk" post.author.id %}' style="color: #808080;">{{ post.author }}</br></a> <small> posted {{ post.created_at|timesince }} ago</small> </h6>
                  <a href='{% url "posts:posts-details" pk=post.pk %}' style="color: black;">{{ post.description|safe|truncatewords:"20"|linebreaks }}<a href='{% url "posts:posts-details" pk=post.pk %}' style="color: #808080;"><small>(Read More)</small></p>  
                  <!-- Comments below -->
                  {% for comment in comments %}
                    {{ comment }}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>

          {% else %}

          <div class="container mt-4 mb-3">
            <div class="card" style="width: 38rem;">
              <div class="media" style="padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px"</div>
                <a href='{% url "accounts:profile-with-pk" post.author.id %}'><img class="rounded-circle account-img" src="{{ post.author.profile.image.url }}" width="70" height="70"></a>
                <div class="media-body ml-3">
                  <h5 class="card-title"><a href='{% url "posts:posts-details" pk=post.pk %}' style="color: black;"><b>{{ post.title }}</b></a></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><a href='{% url "accounts:profile-with-pk" post.author.id %}' style="color: #808080;">{{ post.author }}</br></a> <small> posted {{ post.created_at|timesince }} ago</small> </h6>
                  <a href='{% url "posts:posts-details" pk=post.pk %}' style="color: black;">{{ post.description }}<a href='{% url "posts:posts-details" pk=post.pk %}' style="color: #808080;"></p>  
                  <!-- # Read More Line -->
                </div>
              </div>
            </div>
          </div>

        {% endif %}
      {% endif %}


    	<!-- <div class="text-left mt-5 mb-5 ml-2">
        <div class="card mb-3" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title"><a href='{% url "posts:posts-details" pk=post.pk %}' style="color: black;"><b>{{ post.title }}</b></a>  </h5>  
            <h6 class="card-subtitle mb-2 text-muted"><a href='{% url "accounts:profile-with-pk" post.author.id %}' style="color: #808080;">{{ post.author }}</a></h6> 
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div> -->

	  		<!-- <ul style="list-style-type: none"> -->
          <!-- url below take you to the detail post -->
          <!-- for the url to 'post detail', you can also use 'post.id' -->
	  		 <!--  <li><a href='{% url "posts:posts-details" pk=post.pk %}'>{{ post.title }}</a> by 
            <a href='{% url "accounts:profile-with-pk" post.author.id %}'>{{ post.author }}</a></li> // #user.id #post.author.id -->
	  		<!--   <li>{{ post.description }}</li>
	  		</ul> --> 
    {% endfor %}  

    </div> <!-- # div removed from above -->  
    </div>


	  		
{% endblock body %}